/* .carousel-inner > .item >img{
    min-height : 300px;
    max-height : 300px;
    width : 100%;
  } */

/* #carousel {
    height:100px;
} */

img {
  height: auto;
}

.block{
  background-color: white;
  padding: 25px;
  margin: 20px;
}
.block1{
  background-color: black;
  padding: 25px;
  margin: 20px;
}

.carousel-caption {
  background-color: black;
  opacity: .75;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

#header {
  color: white;
}

#main_body {
  background-color: grey;
}

#app_title {
  font-size: 500%;
}

