img {
  height: auto;
}
body {
  background: #FFFFF0;
  /* background: black; */
}

/*** classes ***/
.block{
  /* background-color: #white; */
  background-color: #bd9b16;
  border-radius: 25px;
  padding: 25px;
  margin: 20px;
}
.block1{
  /* background-color: black; */
  border-radius: 25px;
  padding: 25px;
  margin: 20px;
}
.carousel-caption {
  background-color: purple;
  border-radius: 25px;
  opacity: .70;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.jumbotron {
  height: 300px;
  margin-top: 50px;
  /* padding-bottom: 50px; */
}
.btn-primary {
  background: darkmagenta;
  color: white;
}

.form-group {
  color: darkmagenta;
  font-weight: bold;
}

/*** id ***/
#header {
  /* color: #8c52ff; */
  color: darkmagenta;
  text-align: center;
  font-weight: bold;
}
/* #main_body {
  background-color: #cccccc;
  background-color: #f9bc50;
} */
#app_title {
  font-size: 500%;
}
#userInfo b{
  /* color: #8c52ff; */
  color: darkmagenta;
}
/* #jumbotron_items {
  margin-bottom: 50px;
} */
#jumbotron {
  padding-bottom: 50px;
}
/* #logo_container {
  
} */
#description {
  margin-top: 50px;
}
#movies {
  background-color: #bd9b16;
}

.col-md-5{
  color: darkmagenta;
  font-size: 125%;
}